<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is above the block in base.html</h1>

    {% load static %}
    

    {% block content %}

    <h1>This is inside the block in base.html aim is to put video here</h1>
    
    <img src="{% static 'welcome_page/Laserstock.mov' %}" alt="My video">
    <img src="{% static 'welcome_page/FrancoNero.jpg' %}" alt="My picture">
    <img src="file:///C:/Users/MaiaRamambason/OneDrive%20-%20Imperial%20College%20London/Desktop/Year3/A-Modules/Embedded-Systems/Laser-Tag/welcome_page/static/welcome_page/FrancoNero.jpg" alt="my image diff source">
    
    

    {% endblock content %}

    <h1>This is below the block in base.html</h1>
    
</body>
</html>

